.Article {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: antiquewhite;
}

.Article--selected {
  background-color: aqua;
}

.Article__title {
  font-weight: bold;
}
